body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  margin: 0;
  position: relative;
}

html {
  font-family: "Open Sans";
}

h1,
h2 {
  font-family: "Quicksand";
  text-align: center;
}

footer {
  font-size: 10px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.pos-info {
  font-size: 12px;
}

.small {
  font-size: 12px;
}

.spacer {
  height: 56px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 300px;
}

button {
  outline: none;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Quicksand";
  color: black;
  text-align: center;
  transition: all 0.2s;
  background: white;
}

button:hover {
  color: white;
  background-color: black;
}

button:active {
  background-color: gray;
}

button:disabled {
  background-color: lightgray;
  border-color: darkgray;
  color: white;
}
