body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  margin: 0;
  position: relative;
  color: #111;
}

html {
  font-family: "Open Sans";
}

h1,
h2 {
  font-family: "Quicksand";
  text-align: center;
}

footer {
  font-size: 10px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.pos-info {
  font-size: 12px;
}

.small {
  font-size: 12px;
}

.spacer {
  height: 56px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 300px;
}

button {
  outline: none;
  display: inline-block;
  padding: 0.7em;
  border: 0em solid #b60609;
  border-radius: 0.24em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Quicksand";
  color: white;
  text-align: center;
  transition: all 0.2s;
  background: #b60609;
  width: 220px;
}
/*
The New Pizza Box Color Scheme palette has 6 colors which are 
India Green (#11760F)
White (#FEFEFE)
UE Red (#B60609)
Flame (#E25414)
Deep Champagne (#F3D8A6)
Earth Yellow (#D3B168)
*/
button.foodora {
  background-color: rgb(215, 15, 100);
  border-color: rgb(215, 15, 100);
}

@media (hover: hover) {
  button.foodora:hover {
    background-color: rgb(196, 14, 90);
    border-color: rgb(196, 14, 90);
  }

  button:hover {
    color: white;
    background-color: #e25414;
  }
}

button:active {
  background-color: gray;
}

button:disabled {
  background-color: transparent;
  border-color: lightgray;
  color: gray;
  font-size: 16px;
  border-radius: 0em;
  /* border: 0; */
}
@keyframes logorotation {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
.logo {
  /* animation-name: logorotation;
  animation-duration: 4s; */
  animation: logorotation 1s ease-in-out 0s infinite alternate; /*ease-in-out 0 infinite alternate;*/
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
